
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/allPost.css" />
    <link rel="stylesheet" href="/css/auth/errors.css" />
    </head>

    <body>
    <div class="alert danger" style="opacity: 0;">
        <div class="alert__icon danger"><i class="fa-solid fa-triangle-exclamation"></i></div>
        <div class="alert__content">
        <h1 style="font-size: 1.125rem;">Error</h1>
        <p style="font-size: 0.8rem;"></p>
        </div>
        <i style="margin-left: auto; font-size: 1.25rem; margin-right: 3%;" class="fa-solid fa-xmark" onClick="this.parentElement.style.opacity = 0"></i>
    </div>
    <%- include('./includes/navigation.ejs') %>
    <h1 style="margin-top: 5%; text-align: center;">All Posts</h1>
    <form id="filtersForm" method="GET" action="/explore/posts/filter">
        <div class="filters">
            <a style="margin-right: auto;" class="filters__buttons v2">
                <span>Fitlers </span>
                <i class="fa-solid fa-filter"></i>
            </a>
            <div style="display: flex; gap: 1rem" class="center">
                <a style="margin-left: auto;" class="filters__dropdown">
                    <label for="category">Category: </label>
                    <select name="category" id="category" class="custom-dropdown" onClick="rotateArrow(this)">
                        <option value="all" selected>All</option>
                        <option value="monument">Heritage Site</option>
                        <option value="festival">Festival</option>
                        <option value="hill">Hill</option>
                        <option value="cave">Caves</option>
                    </select>
                    <span class="custom-arrow">
                        <i class="fa-solid fa-sort-down"></i>
                    </span>
                </a>
                <a style="margin-left: auto;" class="filters__dropdown">
                    <label for="category">State: </label>
                    <select name="state" id="state" class="custom-dropdown" onClick="rotateArrow(this)">
                        <option value="all" <%= filters.state === 'India' ? 'selected' : '' %>>All India</option>
                    <option value="Andhra Pradesh" <%= filters.state === 'Andhra Pradesh' ? 'selected' : '' %>>Andhra Pradesh</option>
                    <option value="Arunachal Pradesh" <%= filters.state === 'aAunachal Pradesh' ? 'selected' : '' %>>Arunachal Pradesh</option>
                    <option value="Assam" <%= filters.state === 'Assam' ? 'selected' : '' %>>Assam</option>
                    <option value="Bihar" <%= filters.state === 'Bihar' ? 'selected' : '' %>>Bihar</option>
                    <option value="Chhattisgarh" <%= filters.state === 'Chhattisgarh' ? 'selected' : '' %>>Chhattisgarh</option>
                    <option value="Goa" <%= filters.state === 'Goa' ? 'selected' : '' %>>Goa</option>
                    <option value="Gujarat" <%= filters.state === 'Gujarat' ? 'selected' : '' %>>Gujarat</option>
                    <option value="Haryana" <%= filters.state === 'Haryana' ? 'selected' : '' %>>Haryana</option>
                    <option value="Himachal Pradesh" <%= filters.state === 'Himachal Pradesh' ? 'selected' : '' %>>Himachal Pradesh</option>
                    <option value="Jharkhand" <%= filters.state === 'Jharkhand' ? 'selected' : '' %>>Jharkhand</option>
                    <option value="Karnataka" <%= filters.state === 'Karnataka' ? 'selected' : '' %>>Karnataka</option>
                    <option value="Kerala" <%= filters.state === 'Kerala' ? 'selected' : '' %>>Kerala</option>
                    <option value="Madhya Pradesh" <%= filters.state === 'Madhya Pradesh' ? 'selected' : '' %>>Madhya Pradesh</option>
                    <option value="Maharashtra" <%= filters.state === 'Maharashtra' ? 'selected' : '' %>>Maharashtra</option>
                    <option value="Manipur" <%= filters.state === 'Manipur' ? 'selected' : '' %>>Manipur</option>
                    <option value="Meghalaya" <%= filters.state === 'Meghalaya' ? 'selected' : '' %>>Meghalaya</option>
                    <option value="Mizoram" <%= filters.state === 'Mizoram' ? 'selected' : '' %>>Mizoram</option>
                    <option value="Nagaland" <%= filters.state === 'Nagaland' ? 'selected' : '' %>>Nagaland</option>
                    <option value="Odisha" <%= filters.state === 'Odisha' ? 'selected' : '' %>>Odisha</option>
                    <option value="Punjab" <%= filters.state === 'Punjab' ? 'selected' : '' %>>Punjab</option>
                    <option value="Rajasthan" <%= filters.state === 'Rajasthan' ? 'selected' : '' %>>Rajasthan</option>
                    <option value="Sikkim" <%= filters.state === 'Sikkim' ? 'selected' : '' %>>Sikkim</option>
                    <option value="Tamil Nadu" <%= filters.state === 'Tamil Nadu' ? 'selected' : '' %>>Tamil Nadu</option>
                    <option value="Telangana" <%= filters.state === 'Telangana' ? 'selected' : '' %>>Telangana</option>
                    <option value="Tripura" <%= filters.state === 'Tripura' ? 'selected' : '' %>>Tripura</option>
                    <option value="Uttar Pradesh" <%= filters.state === 'Uttar Pradesh' ? 'selected' : '' %>>Uttar Pradesh</option>
                    <option value="Uttarakhand" <%= filters.state === 'Uttarakhand' ? 'selected' : '' %>>Uttarakhand</option>
                    <option value="West Bengal" <%= filters.state === 'West Bengal' ? 'selected' : '' %>>West Bengal</option>
                    </select>
                    <span class="custom-arrow">
                        <i class="fa-solid fa-sort-down"></i>
                    </span>
                </a>
                <a style="margin-left: auto;" class="filters__dropdown">
                    <label for="category">Sort By: </label>
                    <select name="sort" id="sort" class="custom-dropdown" onClick="rotateArrow(this)">
                        <option value="old">Oldest First</option>
                        <option value="new">Newest First</option>
                        <option value="alpha">Order by Name (A-Z)</option>
                        <option value="revalpha">Order by Name (Z-A)</option>
                    </select>
                    <span class="custom-arrow">
                        <i class="fa-solid fa-sort-down"></i>
                    </span>
                </a>
            </div>
            <% if(filter) { %>
                <a href="/explore/posts" style="margin-left: auto; text-decoration: none; color: var(--main-text-color);" class="filters__buttons">
                    <span>Reset Filters</span>
                    <i class="fa-solid fa-repeat"></i>
                </a>
            <% } else {%>
                <button type="submit" style="height: 55px; margin-left: auto;" class="filters__buttons">
                    <span>Apply Filters</span>
                    <i class="fa-solid fa-list-check"></i>
                </button>
            <% } %>
        </div>
    </form>
        <div style="margin-top:5" class="grid">
            <% if(posts.length > 0) { %>
                <% for(let post of posts ) { %>
                    <div class="post" id="<%= post._id %>">
                        <div class="post__img">
                        <img src="<%='/'+ post.imageUrl %>" alt="Img" />
                        </div>
                        <div class="post__content">
                        <div class="post__content__heading">
                            <span><%= post.title%></span>
                        </div>
                        <div class="post__content__subheading"><%= post.state %></div>
                        <div class="post__bottom-row">
                            <p>By: <%= post.user.username %></p>
                            <div class="post__buttons">
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <span id="like-count-<%=post._id%>" style="display: flex; align-items: flex-end;"><%= post.likes %></span>
                                <i class="fa-solid fa-thumbs-up fa-lg" style="color: #63e6be; font-size: 1.5rem;" onClick="like(this, '<%=post._id%>')"></i>
                            </div>

                            <div>
                                <span id="dislike-count-<%=post._id%>" ><%= post.dislikes %></span>
                                <i
                                    class="fa-solid fa-thumbs-down"
                                    style="color: #e24040; font-size: 1.5rem"
                                    onClick="dislike(this, '<%=post._id%>')"
                                ></i>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                <%}%>
            <%} else {%>
                <h2>No Posts...</h2>
            <%}%>
        </div>
        <script>
        let rotationAngle = 0;

        function rotateArrow(element) {
            const arrow = element.nextElementSibling.firstElementChild;
            rotationAngle = (rotationAngle + 180) % 360;  // This will keep rotating by 180 degrees
            arrow.style.transform = `rotate(${rotationAngle}deg)`;
        }

            function like(element, postId) {
            const likes_span = document.getElementById(`like-count-${postId}`);
            const dislike_span = document.getElementById(`dislike-count-${postId}`);

            fetch(`/user/${postId}/like`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ postId: postId }),
            })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    return response.json().then(err => {
                        throw new Error(err.message);
                    });
                }
            })
            .then(data => {
                console.log('Success:', data);
                return fetch(`/posts/${postId}/ratings`)
            })
            .then(response => response.json())
            .then(data => {
                likes_span.innerText = data.likes;
                dislike_span.innerText = data.dislikes;
                console.log(data)
            })
            .catch(error => {
                //I will display the banner if error is reached
                const error_banner = document.querySelector(".alert.danger");
                const errorHeading = error_banner.querySelector("h1");
                const errorText = error_banner.querySelector("p");

                error_banner.style.opacity = "1";
                errorHeading.innerText = "Not Authenticated";
                errorText.innerText = "You must be logged in to like the post!"

                console.log('Error:', error);
            });
        }

        function dislike(element, postId) {
            const likes_span = document.getElementById(`like-count-${postId}`);
            const dislike_span = document.getElementById(`dislike-count-${postId}`);
            fetch(`/user/${postId}/dislike`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ postId: postId }),
            })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    return response.json().then(err => {
                        throw new Error(err.message);
                    });
                }
            })
            .then(data => {
                console.log('Success:', data);
                return fetch(`/posts/${postId}/ratings`)
            })
            .then(response => response.json())
            .then(data => {
                likes_span.innerText = data.likes;
                dislike_span.innerText = data.dislikes;
                console.log(data)
            })
            .catch(error => {
                //I will display the banner if error is reached
                const error_banner = document.querySelector(".alert.danger");
                const errorHeading = error_banner.querySelector("h1");
                const errorText = error_banner.querySelector("p");

                error_banner.style.opacity = "1";
                errorHeading.innerText = "Not Authenticated";
                errorText.innerText = "You must be logged in to dislike the post!"

                console.log('Error:', error);
            });
        }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const progressBarFill = document.querySelector('.progress-bar__fill');
                const alert = document.querySelector('.alert'); // Update if needed

                // Start filling the progress bar immediately
                progressBarFill.style.transition = 'width 3s';
                progressBarFill.style.width = '100%';

                // Hide the alert after 1 second
                setTimeout(() => {
                    alert.style.opacity = 0;
                    setTimeout(() => alert.style.display = 'none', 3000); // Match the duration of the transition
                }, 3000); // Ensure this matches the duration of the progress bar fill
            });
        </script>
        <%- include('./includes/end.ejs') %>