<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
        <img class="background" src="RawHero.png"/>
        <h1 class="title">INDIA</h1>
        <img class="foreground" src="RawForeground.png"/>
        <div class="subheader">
            <span class="subheading">Revealing India's Eternal Jewels</span>
            <div class="buttonWrapper">
                <a href="#" class="btn-link">
                    <span class="btn-fill">
                        <span class="btn-ripple v1"></span>
                        <span class="btn-ripple v2"></span>
                    </span>
                    <span class="btn-title">
                        <span class="btn-content">Explore</span>
                    </span>
                </a>
            </div>
        </div>
        <%- include('Page1/Mission.ejs') %>
        <%- include('Page1/photoGallery.ejs') %>
        <%- include('includes/end.ejs') %>