<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth/errors.css">
    </head>

    <body>
        <% if (login) { %>
            <div class="alert success">
                <div class="alert__icon success"><i class="fa-solid fa-triangle-exclamation"></i></div>
                <div class="alert__content success">
                    <h1 style="font-size: 1.125rem;"><%= login ? 'Login Successful' : 'Email Sent' %></h1>
                </div>
                <i style="margin-left: auto; font-size: 1.25rem; margin-right: 3%;" class="fa-solid fa-xmark" onClick="this.parentElement.style.opacity = 0"></i>
            </div>
        <% } %>

        <% if(email) {%>
            <div class="alert info">
                <div class="alert__icon info"><i class="fa-solid fa-circle-info"></i></div>
                <div class="alert__content info">
                <h1 style="font-size: 1.125rem;">Email Sent!</h1>
                <p style="font-size: 0.8rem;"> Make sure to check spam! </p>
                </div>
                <i style="margin-left: auto; font-size: 1.25rem; margin-right: 3%;" class="fa-solid fa-xmark" onClick="this.parentElement.style.opacity = 0"></i>
            </div>
        <%}%>
        <%- include('includes/navigation.ejs') %>
        <img style="display: inline-block;" class="background exclude-animation" src="RawHero.png"/>
        <h1 class="title exclude-animation">INDIA</h1>
        <img style="display: inline-block" class="foreground exclude-animation" src="RawForeground.png"/>
        <div class="subheader">
            <span class="subheading">Revealing India's Eternal Jewels</span>
            <div class="buttonWrapper">
                <a href="#" class="btn-link">
                    <span class="btn-fill">
                        <span class="btn-ripple v1"></span>
                        <span class="btn-ripple v2"></span>
                    </span>
                    <span class="btn-title">
                        <span class="btn-content">Explore</span>
                    </span>
                </a>
            </div>
        </div>
        <%- include('Page1/Mission.ejs') %>
        <%- include('Page1/photoGallery.ejs') %>
        <%- include('Page1/ExploreIndia.ejs') %>
        <%- include('Page1/Feedback.ejs') %>      
        <%- include('includes/end.ejs') %>