<%- include('../includes/head.ejs') %>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: var(--main-bg-color);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            background-color: #ded3b6;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        }

        .image-upload {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 20rem;
            background-color: #fff;
            border-radius: 8px;
            margin-top: 0;
            margin-right: 20px;
            flex-wrap: wrap;
        }

        .image-label {
            cursor: pointer;
            padding: 10px 20px;
            background-color: #ccc;
            border-radius: 4px;
        }

        .image-input {
            display: none;
        }

        .form-container {
            background-color: #c2b59b;
            padding: 20px;
            border-radius: 8px;
            width: 300px;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        button {
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input::placeholder,
        textarea::placeholder {
            color: black;
        }

        input,
        select,
        textarea {
            background-color: #c2b59b;
            border: none;
            padding: 5px;
            width: 95%;
            margin: 10px;
            border-bottom: 2px solid var(--main-text-color);
            font-family: var(--sub-heading-font-family);
            font-size: 1rem;
            transition: all 0.3s;
        }

        input:focus,
        input:active,
        select:focus,
        select:active,
        textarea:focus,
        textarea:active {
            outline: none;
            border: none;
            border-bottom: 2px solid var(--input-change-color);
        }

        option {
            padding: 0.6rem 0.6rem;
            background-color: #fcd9be;
            color: black;
        }

        button {
            background-color: #f0a500;
            color: white;
            border: none;
            cursor: pointer;
            font-size: large;
            padding: .5rem;
        }

        button:hover {
            background-color: #d48806;
        }

        .image-preview {
            max-width: 100%;
            border-radius: 4px;
        }

        .file_buttons {
            margin-top: 1rem;
            gap: 3rem;
        }
    </style>
    <link rel="stylesheet" href="/css/auth/errors.css" />
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <% if(errors.length > 0 ) { %>
        <div class="alert danger">
            <div class="alert__icon danger"><i class="fa-solid fa-triangle-exclamation"></i></div>
            <div class="alert__content">
                <h1 style="font-size: 1.125rem;">Invalid Input</h1>
                <p style="font-size: 0.8rem;"><%= errors[0].msg %></p>
            </div>
            <i style="margin-left: auto; font-size: 1.25rem; margin-right: 3%;" class="fa-solid fa-xmark" onClick="this.parentElement.style.opacity = 0"></i>
            <div class="progress-bar">
                <div class="progress-bar__fill danger"></div>
            </div>
        </div>
    <% } %>
    <div class="container">
        <div class="image-upload">
            <div>
                <label for="post_img" class="image-label" style="<%= editing ? 'display:none' : '' %>">Upload Image</label>
                <img id="preview" class="image-preview" alt="Image Preview" style="<%= editing ? 'display:block;' : 'display:none;' %>" src="<%= editing ? '/'+oldInput.imageUrl : '' %>">

            </div>
            <div class="file_buttons">
                <button id="uploadNewButton" style="<%= editing ? 'display:block;' : 'display:none;' %>">Upload New Image</button>
            </div>
        </div>
        
        <div class="form-container">
            <h2 class="main-heading" style="font-size: 2.5rem; text-align: left; margin-left: .7rem; margin-top: .5rem;">
              <%= isAdmin ? `Review` : editing ? 'Edit' : 'New' %> Post
            </h2>
            <form action="<%= isAdmin ? `/admin/edit-post/${postID}` : editing ? `/user/edit-post/${postID}` : '/user/add-post' %>" method="POST" id="postForm" enctype="multipart/form-data">
                <input type="text" id="title" name="title" placeholder="Title" value="<%= oldInput.title %>" >
                <select id="category" name="category" >
                    <option value="">Select Category</option>
                    <option value="festival" <%= oldInput.category === 'festival' ? 'selected' : '' %>>Festival</option>
                    <option value="hill" <%= oldInput.category === 'hill' ? 'selected' : '' %>>Hill</option>
                    <option value="monument" <%= oldInput.category === 'monument' ? 'selected' : '' %>>Monument</option>
                    <option value="cave" <%= oldInput.category === 'cave' ? 'selected' : '' %>>Cave</option>
                </select>
                <select id="month" name="month" style="display:none;">
                    <option value="">Select Month</option>
                    <option value="1" <%= oldInput.month == '1' ? 'selected' : '' %>>January</option>
                    <option value="2" <%= oldInput.month == '2' ? 'selected' : '' %>>February</option>
                    <option value="3" <%= oldInput.month == '3' ? 'selected' : '' %>>March</option>
                    <option value="4" <%= oldInput.month == '4' ? 'selected' : '' %>>April</option>
                    <option value="5" <%= oldInput.month == '5' ? 'selected' : '' %>>May</option>
                    <option value="6" <%= oldInput.month == '6' ? 'selected' : '' %>>June</option>
                    <option value="7" <%= oldInput.month == '7' ? 'selected' : '' %>>July</option>
                    <option value="8" <%= oldInput.month == '8' ? 'selected' : '' %>>August</option>
                    <option value="9" <%= oldInput.month == '9' ? 'selected' : '' %>>September</option>
                    <option value="10" <%= oldInput.month == '10' ? 'selected' : '' %>>October</option>
                    <option value="11" <%= oldInput.month == '11' ? 'selected' : '' %>>November</option>
                    <option value="12" <%= oldInput.month == '12' ? 'selected' : '' %>>December</option>
                </select>

                <input id="city" placeholder="City" name="city" value="<%= oldInput.city %>" />

                <select id="state" name="state" >
                    <option value="">Select State</option>
                    <option value="India" <%= oldInput.state === 'India' ? 'selected' : '' %>>All India</option>
                    <option value="andhra-pradesh" <%= oldInput.state === 'andhra-pradesh' ? 'selected' : '' %>>Andhra Pradesh</option>
                    <option value="arunachal-pradesh" <%= oldInput.state === 'arunachal-pradesh' ? 'selected' : '' %>>Arunachal Pradesh</option>
                    <option value="Assam" <%= oldInput.state === 'Assam' ? 'selected' : '' %>>Assam</option>
                    <option value="Bihar" <%= oldInput.state === 'Bihar' ? 'selected' : '' %>>Bihar</option>
                    <option value="Chhattisgarh" <%= oldInput.state === 'Chhattisgarh' ? 'selected' : '' %>>Chhattisgarh</option>
                    <option value="Goa" <%= oldInput.state === 'Goa' ? 'selected' : '' %>>Goa</option>
                    <option value="Gujarat" <%= oldInput.state === 'Gujarat' ? 'selected' : '' %>>Gujarat</option>
                    <option value="Haryana" <%= oldInput.state === 'Haryana' ? 'selected' : '' %>>Haryana</option>
                    <option value="Himachal Pradesh" <%= oldInput.state === 'Himachal Pradesh' ? 'selected' : '' %>>Himachal Pradesh</option>
                    <option value="Jharkhand" <%= oldInput.state === 'Jharkhand' ? 'selected' : '' %>>Jharkhand</option>
                    <option value="Karnataka" <%= oldInput.state === 'Karnataka' ? 'selected' : '' %>>Karnataka</option>
                    <option value="Kerala" <%= oldInput.state === 'Kerala' ? 'selected' : '' %>>Kerala</option>
                    <option value="Madhya Pradesh" <%= oldInput.state === 'Madhya Pradesh' ? 'selected' : '' %>>Madhya Pradesh</option>
                    <option value="Maharashtra" <%= oldInput.state === 'Maharashtra' ? 'selected' : '' %>>Maharashtra</option>
                    <option value="Manipur" <%= oldInput.state === 'Manipur' ? 'selected' : '' %>>Manipur</option>
                    <option value="Meghalaya" <%= oldInput.state === 'Meghalaya' ? 'selected' : '' %>>Meghalaya</option>
                    <option value="Mizoram" <%= oldInput.state === 'Mizoram' ? 'selected' : '' %>>Mizoram</option>
                    <option value="Nagaland" <%= oldInput.state === 'Nagaland' ? 'selected' : '' %>>Nagaland</option>
                    <option value="Odisha" <%= oldInput.state === 'Odisha' ? 'selected' : '' %>>Odisha</option>
                    <option value="Punjab" <%= oldInput.state === 'Punjab' ? 'selected' : '' %>>Punjab</option>
                    <option value="Rajasthan" <%= oldInput.state === 'Rajasthan' ? 'selected' : '' %>>Rajasthan</option>
                    <option value="Sikkim" <%= oldInput.state === 'Sikkim' ? 'selected' : '' %>>Sikkim</option>
                    <option value="Tamil Nadu" <%= oldInput.state === 'Tamil Nadu' ? 'selected' : '' %>>Tamil Nadu</option>
                    <option value="Telangana" <%= oldInput.state === 'Telangana' ? 'selected' : '' %>>Telangana</option>
                    <option value="Tripura" <%= oldInput.state === 'Tripura' ? 'selected' : '' %>>Tripura</option>
                    <option value="Uttar Pradesh" <%= oldInput.state === 'Uttar Pradesh' ? 'selected' : '' %>>Uttar Pradesh</option>
                    <option value="Uttarakhand" <%= oldInput.state === 'Uttarakhand' ? 'selected' : '' %>>Uttarakhand</option>
                    <option value="West Bengal" <%= oldInput.state === 'West Bengal' ? 'selected' : '' %>>West Bengal</option>
                </select>
                <textarea id="description" name="description" placeholder="Description" rows="4" ><%= oldInput.description %></textarea>

                <input type="file" id="post_img" name="post_img" class="image-input">

                
                

                <% if(isAdmin) {%>
                    <div class="div" style="margin-top: 0.3rem;display: flex; gap: 0.7rem">
                        <button type="submit" style="background-color: rgb(5, 182, 93); padding: .7rem; width: 50%;">Accept</button>
                    </form>

                        <form action="<%= `/admin/reject/post/${postID}` %>" method="POST" style="flex-grow: 1;">
                            <button type="submit" style="background-color: rgb(182, 5, 49); padding: .7rem; ">Reject</button>
                        </form>
                    </div>
                <%} else {%>
                    <button type="submit" style="padding: .7rem;">Post</button>
                <% } %>
                
        </div>
    </div>
    <script>
        document.getElementById('category').addEventListener('change', function (event) {
            const monthSelect = document.getElementById('month');
            const citySelect = document.getElementById('city');
            if (event.target.value === 'festival') {
                citySelect.style.display = "none";
                monthSelect.style.display = 'block';
            } else {
                monthSelect.style.display = 'none';
                citySelect.style.display = "block";
            }
        });

        document.getElementById('post_img').addEventListener('change', function (event) {
            const file = event.target.files[0];
            const preview = document.getElementById('preview');

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                    document.querySelector('.image-label').style.display = 'none';
                    document.querySelector('#uploadNewButton').style.display = 'block';
                }
                reader.readAsDataURL(file);
            } else {
                preview.style.display = 'none';
            }
        });

        const uploadNewButton = document.getElementById('uploadNewButton');

        uploadNewButton.addEventListener('click', () => {
            document.getElementById('post_img').value = '';
            document.getElementById('preview').src = '';
            document.getElementById('preview').style.display = 'none';
            document.querySelector('.image-label').style.display = 'block';
            uploadNewButton.style.display = 'none';
            document.getElementById('post_img').click();
        });

        window.onload = function() {
            const categorySelect = document.getElementById('category');
            const monthSelect = document.getElementById('month');

            if (categorySelect.value === 'festival') {
                monthSelect.style.display = 'block';
            }
        };
    </script>
    <script>
            document.addEventListener('DOMContentLoaded', () => {
                const progressBarFill = document.querySelector('.progress-bar__fill');
                const alert = document.querySelector('.alert'); // Update if needed

                // Start filling the progress bar immediately
                progressBarFill.style.transition = 'width 3s';
                progressBarFill.style.width = '100%';

                // Hide the alert after 1 second
                setTimeout(() => {
                    alert.style.opacity = 0;
                    setTimeout(() => alert.style.display = 'none', 3000); // Match the duration of the transition
                }, 3000); // Ensure this matches the duration of the progress bar fill
            });
        </script>
</body>
</html>
