<%- include('../includes/head.ejs') %>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: var(--main-bg-color);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            background-color: #ded3b6;
            padding: 20px;
            width: 80%;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        }

        .image-upload {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            width: 20rem;
            background-color: #fff;
            border-radius: 8px;
            margin-right: 20px;
            max-height: 500px;
            overflow: hidden;
        }

        .image-preview {
            max-width: 100%;
            max-height: 100%;
            border-radius: 4px;
            object-fit: cover;
            object-position: bottom;
        }

        .form-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            background-color: #c2b59b;
            padding: 20px;
            border-radius: 8px;
            width: 100%;
        }

        h2 {
            font-size: 2.5rem;
            text-align: left;
            margin-left: .7rem;
            margin-top: .5rem;
        }

        p {
            margin: 10px 0;
        }

        .btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <link rel="stylesheet" href="/css/users/MyPosts.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="image-upload">
            <img id="preview" class="image-preview" alt="Image Preview" src="<%= '/' + post.imageUrl %>">
        </div>
        
        <div class="form-container">
            <h2 class="main-heading" style="margin: 0;">
             <%= post.title %>
            </h2>

            <% if (post.category) { %>
                <p><b>Category:</b> <%= post.category %></p>
            <% } %>
            
            <% if (post.month) { %>
                <p><b>Month:</b> <%= months[post.month] %></p>
            <% } %>
            
            <% if (post.city) { %>
                <p><b>City:</b> <%= post.city %></p>
            <% } %>
            
            <% if (post.state) { %>
                <p><b>Region:</b> <%= post.state %></p>
            <% } %>
            
            <% if (post.description) { %>
                <p><b>Description:</b> <%= post.description %></p>
            <% } %>

            <% if(isLoggedIn && visible) { %>
                <div class="btns">
                    <div class="user_post_edit">
                        <a href="/user/edit-post/<%= post._id %>" class="edit_post">
                            <span>Edit <i class="fa-solid fa-pen-to-square"></i></span>
                        </a>
                    </div>
                
                    <div class="user_post_delete">
                        <form action="/delete/post/<%= post._id %>" method="POST">
                            <button type="submit" class="delete_post">
                                <span>Delete<i class="fa-solid fa-trash-can"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</body>
</html>
